server {
    listen       {{ nginx_config__vhost__listen_port }};
{% if nginx_config__vhost__listen_ipv6 %}
    listen       [::]:{{ nginx_config__vhost__listen_port }} ipv6only=on default_server;
{% endif %}
{% if nginx_config__vhost__server_name %}
    server_name {{ nginx_config__vhost__server_name }};
{% endif %}
{% if nginx_config__vhost__root %}
    root {{ nginx_config__vhost__root }};
{% endif %}

    index {{ nginx_config__vhost__index }};

{% if nginx_config__vhost__error_page %}
     {{ nginx_config__vhost__error_page }};
{% endif %}
{% if nginx_config__vhost__access_log %}
    access_log /var/log/nginx/{{ nginx_config__vhost__server_name }}.access.log main;
{% endif %}
{% if nginx_config__vhost__error_log %}
    error_log /var/log/nginx/{{ nginx_config__vhost__server_name }}.error.log;
{% endif %}

{% if nginx_config__vhost__php_fpm__tcp_ip_socket or nginx_config__vhost__php_fpm__unix_socket %}
location ~ \.php$ {

        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        {% if nginx_config__vhost__php_fpm__tcp_ip_socket %}
        fastcgi_pass {{ nginx_config__vhost__php_fpm__tcp_ip_socket__listen }};
        {% endif %}
        {% if nginx_config__vhost__php_fpm__unix_socket %}
        fastcgi_pass unix:{{ nginx_config__vhost__php_fpm__unix_socket__listen }};
        {% endif %}
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
}
{% endif %}

}
