user  {{ nginx_config__conf__user }};
worker_processes  {{ nginx_config__conf__worker_processes }};

error_log  {{ nginx_config__conf__error_log }};
pid        {{ nginx_config__conf__pidfile }};

events {
    worker_connections  {{ nginx_config__conf__worker_connections }};
    multi_accept {{ nginx_config__conf__multi_accept }};
}

http {
    include       {{ nginx_config__conf__mime_file_path }};
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_config__conf__access_log }}  main;

    sendfile        {{ nginx_config__conf__sendfile }};
    tcp_nopush      {{ nginx_config__conf__tcp_nopush }};
    tcp_nodelay     {{ nginx_config__conf__tcp_nodelay }};
    keepalive_timeout  {{ nginx_config__conf__keepalive_timeout }};
    keepalive_requests {{ nginx_config__conf__keepalive_requests }};

    include /etc/nginx/conf.d/*.conf;
}
