user  {{ nginx_settings['conf_user'] }};
worker_processes  {{ nginx_settings['conf_worker_processes'] }};

error_log  {{ nginx_settings['conf_error_log'] }};
pid        {{ nginx_settings['conf_pidfile'] }};

events {
    worker_connections  {{ nginx_settings['conf_worker_connections'] }};
    multi_accept {{ nginx_settings['conf_multi_accept'] }};
}

http {
    include       {{ nginx_settings['conf_mime_file_path'] }};
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_settings['conf_access_log'] }}  main;

    sendfile        {{ nginx_settings['conf_sendfile'] }};
    tcp_nopush      {{ nginx_settings['conf_tcp_nopush'] }};
    tcp_nodelay     {{ nginx_settings['conf_tcp_nodelay'] }};
    keepalive_timeout  {{ nginx_settings['conf_keepalive_timeout'] }};
    keepalive_requests {{ nginx_settings['conf_keepalive_requests'] }};

    include {{ nginx_settings['conf_file_path'] }}*.conf;
}
