server {
    listen       {{ nginx_config__vhost_listen_port }};
{% if nginx_config__vhost_listen_ipv6 %}
    listen       [::]:{{ nginx_config__vhost_listen_port }} ipv6only=on default_server;
{% endif %}
{% if nginx_config__vhost_server_name %}
    server_name {{ nginx_config__vhost_server_name }};
{% endif %}
{% if nginx_config__vhost_root %}
    root {{ nginx_config__vhost_root }};
{% endif %}

    index {{ nginx_config__vhost_index }};

{% if nginx_config__vhost_error_page %}
     {{ nginx_config__vhost_error_page }};
{% endif %}
{% if nginx_config__vhost_access_log %}
    access_log /var/log/nginx/{{ nginx_vhost__project_domain }}.access.log main;
{% endif %}
{% if nginx_config__vhost_error_log %}
    error_log /var/log/nginx/{{ nginx_vhost__project_domain }}.error.log;
{% endif %}

{% if nginx_config__vhost_php_fpm_tcp_ip_socket or nginx_config__vhost_php_fpm_unix_socket %}
location ~ \.php$ {

        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        {% if nginx_config__vhost_php_fpm_tcp_ip_socket %}
        fastcgi_pass {{ nginx_config__vhost_php_fpm_tcp_ip_socket_listen }};
        {% endif %}
        {% if nginx_config__vhost_php_fpm_unix_socket %}
        fastcgi_pass {{ nginx_config__vhost_php_fpm_unix_socket_listen }};
        {% endif %}
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
}
{% endif %}

}
